.carousel-control-next-icon {

    background-color: rgb(218, 144, 177);
}
.carousel-control-prev-icon {
    background-color: rgb(218, 144, 177);
}
a{
    text-decoration: none;
    color: aliceblue;
}